/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom styling*/

html{
  font-size: 16px;
}
*,*::before,*::after {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  
}
.heading{
  background-color: #4075D5;
  padding: 1.5rem 0rem;
  
}
/*
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
}
.box {
  border: 2px solid #d6bcfa;
  height: 500px;
  border-radius: 10px;
}*/
h1,
h2 {
  text-align: center;
}
h1{
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin: 1rem 0;
}
.flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 1 28%;
}
.center{
  align-items: center;
}
/* cards */

img{
  border-radius: 50%;
  border: 0.2rem solid #307667;
}

.card{
  background-color: white;
  margin: 1.3rem;
  padding: 1.3rem;
  border-radius: 0.7rem;
  box-shadow: 4px 9px 13px rgba(0, 0, 0, 0.1);
}


/* button*/

.btn{
  background-color: rgb(231,237,253);
  color: #307667;
}